/* Фиксация горизонта */
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Если устройство вертикальное — поворачиваем интерфейс */
@media screen and (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh; /* меняем оси */
    height: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
