.phone-landscape {
  position: fixed;
  inset: 0;

  width: 100vh;
  height: 100vw;

  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;

  background: black;
  overflow: hidden;
}

.phone-landscape > * {
  width: 100%;
  height: 100%;
}
